<nav>
  <a href="/" class="logo">
    <img src="/assets/headshot.jpg" alt="James Garside" class="logo-img">
  </a>
  <ul>
    <li><a href="/now">Now</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/resume">Resume</a></li>
  </ul>
</nav>
